* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.heading {
    margin: 0;
    color: rgba(29, 40, 55, 1);
}

.grid-column {
    flex: 1 1 0%;
    padding: 5px 0;
}

.grid-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    min-height: auto;
    padding: 10px 0;
}

.link {
    vertical-align: top;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease 0s;
}

.text-content {
    line-height: 20px;
}

.text-main-content {
    line-height: 30px;
    font-size: 1.2rem;
}

#body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

.grid-column.feature-item {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 30%;
}

.grid-column.testimonial-item {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 45%;
    background-color: rgba(247, 247, 247, 0.23);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: flex-start;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
}

.button {
    vertical-align: top;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: rgb(36, 99, 235);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 10px;
    font-size: 1.1rem;
    text-align: center;
}

.text-blue {
    color: rgb(36, 99, 235);
}

.link:hover {
    color: rgb(36, 99, 235);
    text-decoration: underline;
}

.icon {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    fill: currentColor;
    width: 50px;
    height: 50px;
}

.icon.feature-icon {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(36, 99, 235);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar {
    background-color: #222;
    color: #ddd;
    min-height: 50px;
    width: 100%;
    position: relative;
}

.navbar-container {
    max-width: 950px;
    margin: 0 auto;
    width: 95%;
}

.navbar-items-c {
    display: inline-block;
}

.navbar-container::after {
    content: "";
    clear: both;
    display: block;
}

.navbar-brand {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
    color: inherit;
    text-decoration: none;
}

.navbar-menu {
    padding: 10px 0;
    display: block;
    float: right;
    margin: 0;
}

.navbar-menu-link {
    margin: 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

.navbar-burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.navbar-burger-line {
    padding: 1px;
    background-color: white;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

#i8h6gn {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#i5bcda {
    color: #1c4508;
}

#i5e5pn {
    font-size: 3rem;
    text-align: center;
}

#iag9m4 {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#im7xhi {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#i6ca9f {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#il3p65 {
    font-size: 2.5rem;
    color: #ffffff;
}

#iip4vh {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

#i0uz6u {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#i6uktt {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#im0vus {
    gap: 100px;
    justify-content: space-between;
}

#ic44sd {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#in1iuf {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#imq8rh {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#i1r15h {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#i6dsxt {
    font-size: 2.5rem;
    color: #ffffff;
}

#ikqb99 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#i3zqzu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#isvwud {
    gap: 100px;
    justify-content: space-between;
}

#i7fehi {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#itctvo {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#ij43ag {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ip6apa {
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 750px;
    color: #ffffff;
    margin-top: 0px;
    margin-right: 69px;
    margin-left: 0px;
}

#ijxnuv {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 0px;
}

#ibz85h {
    background-color: #1c4508;
}

#ie6jug {
    font-size: 1.5rem;
    color: white;
}

#ilbc7y {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#iqjddi {
    background-color: #1c4508;
}

#ix76v4 {
    font-size: 1.5rem;
    color: white;
}

#iyw94r {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#itdgnt {
    background-color: #1c4508;
}

#ix67kh {
    font-size: 1.5rem;
    color: white;
}

#i81i7o {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#iuyy9r {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    color: white;
}

#iz945p {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#iv6scb {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#ikyqdi {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

#iewup7 {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#ifme48 {
    color: #1c4508;
}

#i3440d {
    font-size: 3rem;
    text-align: center;
}

#ivxs8n {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#iffyvh {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iu9a03 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#iykhok {
    font-size: 2.5rem;
    color: #ffffff;
}

#i7otbi {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

#i5uv5r {
    background-color: #1c4508;
}

#i3fsf3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#i3yh6k {
    gap: 100px;
    justify-content: space-between;
}

#iq3teg {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#iywb2q {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#i3r2qj {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

#iw0e0p {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#iqza0j {
    color: #1c4508;
}

#i5anni {
    font-size: 3rem;
    text-align: center;
}

#i88gpk {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}

#i55kbt {
    max-width: 615px;
    width: 615px;
    max-height: 615px;
    height: 350px;
}

#isi0tr {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#id8xfs {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ia861u {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

#iwrtww {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#iosbyf {
    color: #1c4508;
}

#ixofjr {
    font-size: 3rem;
    text-align: center;
}

#ir4dvj {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}

#ioy6uk {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#ivub05 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#icy0tt {
    padding: 10px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

#i4ezsx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#ilca1f {
    gap: 100px;
    justify-content: space-between;
}

#ivh6o3 {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#itvpo1 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#izr5td {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

#i2z4yd {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#i32om3 {
    color: #1c4508;
}

#irst0j {
    font-size: 3rem;
    text-align: center;
}

#i70h9o {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}

#i58brp {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#inzrq8 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iw8t5j {
    font-size: 2.5rem;
    color: #ffffff;
}

#icg9eh {
    padding: 10px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

#i4dpp1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#iib8zm {
    gap: 100px;
    justify-content: space-between;
}

#ii3hvi {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#iiaf2e {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ircysl {
    color: #1c4508;
}

#il7eik {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#il63bg {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#i9tspx {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#ivh69t {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#i8j1hi {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    color: #475569;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#irz7b {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iycz3 {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#irjua {
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
}

#itndw {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}

#i466d {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#imymf {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#feature-section {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ib541 {
    gap: 100px;
    justify-content: space-between;
}

#in9ef {
    font-size: 1.5rem;
    color: white;
}

#i8isa {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#i8w4i {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#ioyxg {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#iiacm {
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 750px;
    color: #ffffff;
    margin-top: 0px;
    margin-right: 69px;
    margin-left: 0px;
}

#ixzh1 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    color: white;
}

#ia21sa {
    padding: 10px;
    max-width: 750px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 25px;
}

#in201n {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#ik2rdi {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#iz29ek {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ihs4lb {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#i83vu9 {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#i6rp8q {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ixs9p4 {
    font-size: 2.5rem;
    color: #ffffff;
}

#iw4bzj {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#i1ukje {
    background-color: #1c4508;
    align-self: flex-start;
    margin-bottom: 25px;
}

#iag2nk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#iw5p96 {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#ibs7k2 {
    gap: 100px;
    justify-content: space-between;
}

#iicdif {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#i2a5o8 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#i7owfh {
    color: #1c4508;
}

#iwgwt5 {
    background-color: #1c4508;
}

#ita48s {
    color: #1c4508;
}

#i16n4i {
    font-size: 3rem;
    text-align: center;
}

#iuwodg {
    font-size: 1.5rem;
    color: white;
}

#ijbrmr {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#iuq7hb {
    font-size: 1.5rem;
    color: white;
}

#i03vrs {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#id1t3y {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ixr00j {
    font-size: 2.5rem;
    color: #ffffff;
}

#iunqj8 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

#iz4uwb {
    background-color: #1c4508;
}

#ig4of1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#ipmqo6 {
    background-color: #1c4508;
}

#ictxk {
    background-color: #1c4508;
}

#illxu {
    background-color: #1c4508;
}

#i3t5fi {
    color: #57F287;
}

#inzoj6 {
    color: #57F287;
}

#i0e0va {
    color: #57F287;
}

#ipdm36 {
    font-size: 19.2px;
    text-align: start;
}

#navbar-container {
    display: flex;
    justify-content: center;
}

#iu8a1k {
    background-color: #1c4508;
}

#ir5lli {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#ivez8j {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#i7510p {
    font-size: 2.5rem;
    color: #ffffff;
}

#iu38gj {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#ighvdp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#i17xi9 {
    gap: 100px;
    justify-content: space-between;
}

#iggmog {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#ii0jo5 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#ifw58b {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ibhyqq {
    font-size: 2.5rem;
    color: #ffffff;
}

#ijcj3g {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#izvv2z {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#i190gh {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#ildka4 {
    gap: 100px;
    justify-content: space-between;
}

#ipgf3o {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#ivokzh {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#in8c9c {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#ivl6rh {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ixip2w {
    font-size: 2.5rem;
    color: #ffffff;
}

#icfez7 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#ifgksa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#ii1qn3 {
    gap: 100px;
    justify-content: space-between;
}

#ixe6xs {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#i6acmp {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#i6m2mf {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ijlraj {
    font-size: 2.5rem;
    color: #ffffff;
}

#i24mu7 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#i8pkmf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

#i6d9dk {
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    max-width: 100%;
}

#inz9gq {
    gap: 100px;
    justify-content: space-between;
}

#io3ieg {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#iu5876 {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

#igqj95 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

#ilzhuj {
    font-size: 2.5rem;
    color: #ffffff;
}

#isxv5c {
    color: #57F287;
}

#is1wi3 {
    color: #57F287;
}

#i3ykbu {
    color: #57F287;
}

#ivcder {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

#i7lacj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#iovg9t {
    gap: 100px;
    justify-content: space-between;
}

#isqg1q {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#igej5k {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iniheo {
    display: flex;
    justify-content: center;
}

#igsh66 {
    display: flex;
    justify-content: center;
}

#iiqvsg {
    display: flex;
    justify-content: center;
}

#id9omr {
    display: flex;
    justify-content: center;
}

#inzdat {
    display: flex;
    justify-content: center;
}

#i8jeuj {
    color: #1c4508;
}

#irp552 {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#invit1 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#ik4mo1 {
    background-color: #1c4508;
}

#is43oh {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#iwb9sk {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iroa68 {
    color: #1c4508;
}

#ie705s {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#ijxenu {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#i798o3 {
    background-color: #1c4508;
}

#iehi3p {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#img9sz {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ix35a6 {
    color: #1c4508;
}

#i1jtnf {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#ifd0sc {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#icoj64 {
    background-color: #1c4508;
}

#igih7g {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#i3d1yz {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ia5d7b {
    color: #1c4508;
}

#icqgml {
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}

#i74mn4 {
    padding: 10px;
    max-width: 750px;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-top: 35px;
    color: #ffffff;
}

#i1n5c1 {
    background-color: #1c4508;
}

#int04m {
    max-width: 1200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.06);
    border-right-color: rgba(0, 0, 0, 0.06);
    border-bottom-color: rgba(0, 0, 0, 0.06);
    border-left-color: rgba(0, 0, 0, 0.06);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0.5) 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#izmb4a {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#36393f 1%, #36393f 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#iyb0c7 {
    height: 350px;
    width: 615px;
}

#iz23n6 {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#i2cz9g {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#i3j8fk {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 10px;
}

#igu8bw {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#ie7uxx {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#inzaq5 {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#ihta6f {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ioeijv {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iuuxpv {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#ijf75y {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iq1mvl {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#isosdc {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 10px;
}

#ifln5d {
    display: block;
    align-self: center;
}

#i8qzpm {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#izj3mx {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#izsm2j {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#i2z4vu {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#i0t3of {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#ikkq5t {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#i4w6nz {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iuqzsf {
    display: block;
    align-self: center;
}

#i46vmh {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#ipv8r8 {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#is45mp {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ift35h {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#idh7gv {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iz16b3 {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 10px;
}

#ii8wb4 {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#infq4i {
    display: block;
    align-self: center;
}

#itv0ho {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#ibavwh {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#i79uiq {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#ikaoqj {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#id14ts {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iybkf6 {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 10px;
}

#i3exgg {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#igh6n7 {
    display: block;
    align-self: center;
}

#im7zqg {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#i0a0sx {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#i2tc46 {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#i2j2pf {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#iiosav {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#idz24f {
    display: block;
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 10px;
}

#ikb9r7 {
    display: block;
    align-self: center;
    margin-bottom: 10px;
}

#ia6t6g {
    display: block;
    align-self: center;
}

#iek0kb {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
    opacity: 75%;
    color: #fff;
}

#iyt31a {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#ik65ki {
    justify-content: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    background-image: linear-gradient(#202225 1%, #202225 100%);
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
}

#youtube {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

#youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 992px) {
    .grid-row {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .navbar-items-c {
        display: none;
        width: 100%;
        background-color: #222;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .navbar-burger {
        display: block;
        margin-left: 15px;
    }

    .navbar-menu {
        width: 100%;
        text-align: center;
    }

    .navbar-menu-link {
        display: block;
        padding: 10px;
    }

    .navbar-items-c.active {
        display: block;
    }
}

@media (max-width: 480px) {
    #igu8bw {
        align-self: center;
    }

    #i4w6nz {
        align-self: center;
    }

    #ii8wb4 {
        align-self: center;
    }

    #i3exgg {
        align-self: center;
    }

    #ikb9r7 {
        align-self: center;
    }
}

